
<div class="grid-container">
    <div class="grid-item">
        <a href="https://cwook.itch.io/destroyexterior">
            <img src="assets/destroyexterior.gif" alt="Destroy Exterior" width="300" height="300">
            <h3>Destroy Exterior</h3>
            <p>A juicy breakout clone.</p>
        </a>
    </div>
    
    <div class="grid-item">
        <a href="https://cwook.itch.io/destroyexterior">
            <img src="assets/destroyexterior.gif" alt="Destroy Exterior" width="300" height="300">
            <h3>Destroy Exterior</h3>
            <p>A juicy breakout clone.</p>
        </a>
    </div>
    
    <div class="grid-item">
        <a href="https://cwook.itch.io/destroyexterior">
            <img src="assets/destroyexterior.gif" alt="Destroy Exterior" width="300" height="300">
            <h3>Destroy Exterior</h3>
            <p>A juicy breakout clone.</p>
        </a>
    </div>
</div>
