
<div class="user">
<div class="tech">
    
    <h1>Projects I've Worked On</h1>
    
<div class="grid-container">
    
    <div class="grid-item">
        <a href="https://cwook.itch.io/uprooted-express">
            <img src="assets/uprootedexpress.gif" alt="Uprooted Express" width="300" height="250">
            <h3>Uprooted Express: The Vertical Journey</h3>
            </a>
        <p>A climbing adventure through a twisted subway station.</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/destroyexterior">
            <img src="assets/destroyexterior.gif" alt="Destroy Exterior" width="300" height="250">
            <h3>Destroy Exterior</h3>
        </a>
        <p>A juicy breakout clone.</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/shadows-of-a-new-form">
            <img src="assets/shadowsofanewform.gif" alt="Shadows of a New Form" width="300" height="250">
            <h3>Shadows of a New Form</h3>
        </a>
        <p>Monsters and mutants shoot-em-up. Made for LOWRESJAM with a 64x64 resolution restriction.</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/meatball">
            <img src="assets/supermeatball.gif" alt="Super Meat Ball" width="300" height="250">
            <h3>Super Meat Ball</h3>
        </a>
        <p>Roll around and avoid the gaps!</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/whats-inside">
            <img src="assets/whatsinside.png" alt="What's Inside" width="300" height="250">
            <h3>What's Inside</h3>
        </a>
        <p>Mysterious Platforming Adventure</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/drug-runner">
            <img src="assets/drugrunner.gif" alt="Drug Runner" width="300" height="250">
            <h3>Drug Runner</h3>
        </a>
        <p></p>
    </div>

</div>
</div>
</div>
