
<div class="tech">

    <div class="user-details">
    <h1>Projects I've Worked On</h1>
    </div>
    
    <div class="user">
    
<div class="grid-container">
    
    <div class="grid-item">
        <a href="https://www.youtube.com/watch?v=lCotCNZcKE4">
            <h3>Divergence</h3>
            <img src="assets/divergence.jpg" alt="Divergence" width="300" height="250", loading="lazy">
        </a>
        <p>Third-person shooter with time mechanics. Not yet released.</p>
    </div>

    <div class="grid-item">
        <a href="https://store.steampowered.com/app/1430310/NetGunner/">
            <h3>Netgunner</h3>
            <img src="assets/netgunner.jpg" alt="Netgunner" width="300" height="250", loading="lazy">
        </a>
        <p>Local multiplayer twin-stick shooter. Released on Steam August 2020.</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/uprooted-express">
            <h3>Uprooted Express: The Vertical Journey</h3>
            <img src="assets/uprootedexpress.gif" alt="Uprooted Express" width="300" height="250", loading="lazy">
        </a>
        <p>A climbing adventure through a twisted subway station.</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/destroyexterior">
            <h3>Destroy Exterior</h3>
            <img src="assets/destroyexterior.gif" alt="Destroy Exterior" width="300" height="250", loading="lazy">
        </a>
        <p>A juicy breakout clone.</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/shadows-of-a-new-form">
            <h3>Shadows of a New Form</h3>
            <img src="assets/shadowsofanewform.gif" alt="Shadows of a New Form" width="300" height="250", loading="lazy">
        </a>
        <p>Monsters and mutants shoot-em-up. Made for LOWRESJAM with a 64x64 resolution restriction.</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/meatball">
            <h3>Super Meat Ball</h3>
            <img src="assets/supermeatball.gif" alt="Super Meat Ball" width="300" height="250", loading="lazy">
        </a>
        <p>Roll around and avoid the gaps!</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/whats-inside">
            <h3>What's Inside</h3>
            <img src="assets/whatsinside.png" alt="What's Inside" width="300" height="250", loading="lazy">
        </a>
        <p>Mysterious Platforming Adventure</p>
    </div>

    <div class="grid-item">
        <a href="https://cwook.itch.io/drug-runner">
            <h3>Drug Runner</h3>
            <img src="assets/drugrunner.gif" alt="Drug Runner" width="300" height="250", loading="lazy">
        </a>
        <p></p>
    </div>

</div>
</div>
</div>
